# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Media files (uploads)
media/
uploads/
keys/

# Static files
staticfiles/

# Environment variables
.env
.env.*  # e.g., .env.production, .env.staging
venv/
ENV/
env/
*.env

# Python virtual environments
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
__pypackages__/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.DS_Store

# Pytest
.cache/
.pytest_cache/

# Logs
logs/
*.log
*.out
*.err

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Celery beat schedule files
celerybeat-schedule

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
*.pid
*.env

# Other files
*.bak
*.tmp
