{% extends "base.html" %}
{% load static %}
{% load i18n crispy_forms_tags %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'themes.css'%}">
{% endblock%}
{% block title %}
    {% if form.instance.pk %}
        {% trans "Edit Branch" %}: {{ form.instance.name }}
    {% else %}
        {% trans "Create Branch" %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0 totall">
                {% if form.instance.pk %}
                    <i class="bi bi-pencil text-primary me-2 totall"></i>{% trans "Edit Branch" %}
                {% else %}
                    <i class="bi bi-plus-lg text-primary me-2 totall"></i>{% trans "Create Branch" %}
                {% endif %}
            </h5>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-end mt-3 totall">
                    <button type="submit totall" class="btn btn-primary">
                        <i class="bi bi-save me-2"></i>{% trans "Save" %}
                    </button>
                    {% if perms.branches.companybranch %}
                    <a href="{% url 'companies:branch_list' %}" class="btn btn-secondary ms-2">
                        <i class="bi bi-x-lg me-2 totall"></i>{% trans "Cancel" %}
                    </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
