{% if breadcrumbs %}
<nav aria-label="breadcrumb" class="d-none d-md-block">
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item {% if breadcrumb.active %}active{% endif %}">
                {% if breadcrumb.url and not breadcrumb.active %}
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                {% else %}
                    {{ breadcrumb.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}